<div class="row">
  <div class="col-md-6">
    <h3>Tue June 15</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction to R and RStudio</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Introduction to R and RStudio (Continued)</td> </tr>
      <tr> <td>11:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thu June 17</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Loading and Exploring Data</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Transforming Data</td> </tr>
      <tr> <td>11:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Tue June 22</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Cleaning Data</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Data Visualization</td> </tr>
      <tr> <td>11:50</td>  <td>Post-course survey & Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

